<%= form_tag calculate_value_path, method: :get do |form| %>
  <div class="ui form">
    <div class="inline field">
      <%= label_tag 'Number_of_coins' %>
      <%= text_field_tag 'coin_input', nil, placeholder: 'Enter # of coins' %>
      <%= submit_tag 'Calculate', class: "ui green basic button" %>
    </div>
  </div>
<% end %>
