<h2 class="ui center aligned icon header">
  <i class="circular bitcoin icon inverted teal"></i>
  Kryptos
</h2>
<h6 class="ui sub header center aligned">A SyntheticAutomation dashboard</h6>
<h6 class="ui sub header center aligned">Powered by CoinGecko API</h6>

<%= render 'partials/siacoin' %>
