<h2 class="ui center aligned icon header">
  <i class="circular bitcoin icon inverted teal"></i>
  Kryptos
</h2>
<h5 class="ui sub header center aligned">A SyntheticAutomation dashboard</h5>
<h4 class="ui sub header center aligned">Powered by CoinGecko and Luxor APIs</h4>
<div class="ui raised very padded text container segment">
<%= render 'partials/siacoin' %>
</div>
