<h2 class="ui center aligned icon header">
  <i class="circular bitcoin icon inverted teal"></i>
  Kryptos
</h2>
<h5 class="ui sub header center aligned">A SyntheticAutomation dashboard</h5>
<h5 class="ui sub header center aligned">Powered by CoinGecko and Luxor APIs</h5>
<h6 class="ui sub header center aligned">Statistics refresh every 30 sec</h6>

<BR></BR>
<BR></BR>

<div class="ui raised very padded text container segment" id="siacoin">
<%= render 'partials/siacoin' %>
</div>
